# Configuration file

~CONFIG_VERSION: 1.1

##########################################################################################################
# +main
#--------------------------------------------------------------------------------------------------------#
# Main Settings
# !!!After updating the mod, configurations will be recreated!!!
# !!!It is recommended to save the configurations in another location!!!
##########################################################################################################

"+main" {
}


##########################################################################################################
# distributor
#--------------------------------------------------------------------------------------------------------#
# srparasites:distributor  Configs.
##########################################################################################################

distributor {
    # Set to false if you want to disable entity. [default: true]
    B:" Active"=true

    # Armor. [range: 0.0 ~ 999999.0, default: 12.0]
    S:"# Armor"=12.0

    # Armor Toughness. [range: 0.0 ~ 999999.0, default: 4.0]
    S:"# Armor Toughness"=4.0

    # Attack damage (melee). [range: 0.0 ~ 999999.0, default: 18.0]
    S:"# Attack Damage"=18.0

    # Follow range. [range: 0.0 ~ 128.0, default: 48.0]
    S:"# Follow Range"=48.0

    # Health. [range: 0.0 ~ 999999.0, default: 250.0]
    S:"# Health"=250.0

    # Knockback resistance. [range: 0.0 ~ 999999.0, default: 5.0]
    S:"# Knockback Resistance"=5.0

    # Movement speed. [range: 0.0 ~ 99.0, default: 0.33]
    S:"# Movement Speed"=0.33

    # Loot TableEx. "100;minecraft:nether_star;0;5;1" Where:  
    #  "100" is the chance to drop (100%), 
    #  "minecraft:nether_star" is the item, 
    #  "0" is the meta of items, 
    #  "5" is the max number of items, 
    #  "1" is the min number of items  
    #  [default: ]
    S:"$ Loot Table" <
     >

    # Maximum amount of food to be contaminated. [range: 0 ~ 1000000000, default: 5]
    I:"$M Food Item Amount"=5

    # Chance (1 = 100%) of contaminating food when hitting you. [range: 0.0 ~ 1.0, default: 0.2]
    S:"$M Food Item Chance"=0.2

    # Will increase exhaustion level by this value when it hits you. [range: 0.0 ~ 100.0, default: 0.2]
    S:"$M Food Steal"=0.2

    # Cooldown (seconds) added to items by their orb. [range: 0 ~ 1000000000, default: 10]
    I:"$M Item Orb Cooldown"=10

    # Minimum number of hits to kill a Parasite. [range: 1 ~ 100, default: 3]
    I:"$M MinHitCap"=3

    # Cap of points used to reduce damage taken. [range: 0 ~ 100, default: 10]
    I:"$M Point Cap"=10

    # Chance to fail adaptation if its on fire (1 = 100%). [range: 0.0 ~ 1.0, default: 0.03]
    S:"$M Point Chance to Fail"=0.03

    # Chance to adapt (1 = 100%) to the damage. [range: 0.0 ~ 1.0, default: 0.4]
    S:"$M Point Chance to Learn"=0.4

    # How many damage types the version can learn and adapt. [range: 0 ~ 1000, default: 8]
    I:"$M Point Reduction Total Cap"=8

    # Value for each point, used to reduce damage taken. [range: 0.0 ~ 100.0, default: 0.15]
    S:"$M Point Reduction Value"=0.15

    # How much they will heal if not in combat. [range: 0.0 ~ 1024.0, default: 1.5]
    S:"$M Regen"=1.5

    # List of creatures that will appear after the deathEx. "50;minecraft:zombie;5;1" Where:  
    #  "50" it's a chance to create an entity (50%), 
    #  "minecraft:zombie" is the entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: ]
    S:"& List Mobs Inside" <
     >

    # The list of effects that will be applied to the creatures that were spawned after death.Ex. "100;minecraft:speed;5;1;1000;500;true" Where:  
    #  "100" it's a chance to apply an effect (100%), 
    #  "minecraft:speed" is the effect, 
    #  "5" is the maximum level effect, 
    #  "1" is a minimum level effect, 
    #  "1000" Applies the effect of the potion for a maximum of 1000 ticks (50 seconds), 
    #  "500" Applies the effect of the potion for a minimum of 500 ticks (25 seconds), 
    #  "true" effect particle  
    #  [default: ]
    S:"& List of Bonus Effects for Mobs Inside" <
     >

    # Offset Y [range: 0.0 ~ 999.0, default: 2.0]
    S:"& Mobs Inside Offset Y"=2.0

    # Entity creation distance from entity center. [range: 0.0 ~ 999.0, default: 1.0]
    S:"& Mobs Inside Spawn Distance XZ"=1.0

    # Entity creation distance from entity center. [range: 0.0 ~ 999.0, default: 1.0]
    S:"& Mobs Inside Spawn Distance Y"=1.0

    # Max: XZ Velocity. [range: 0.0 ~ 100.0, default: 1.8]
    S:"& Mobs Inside Velocity XZ"=1.8

    # Max: Y Velocity. [range: 0.0 ~ 100.0, default: 1.3]
    S:"& Mobs Inside Velocity Y"=1.3

    # Cooldown between skill uses (If -1, the skill will not be added). [range: -1 ~ 9999999, default: 120]
    I:"@ Cooldown Skill"=120

    # The maximum block hardness a parasite can break with its ability. [range: -1.0 ~ 9999999.0, default: 15.0]
    S:"@ Max Block Hardness"=15.0
}


