# Configuration file

##########################################################################################################
# blockspawn
#--------------------------------------------------------------------------------------------------------#
# Block Spawns
##########################################################################################################

blockspawn {
    # Break Hijacked Blocks without Silk Harvest to spawn Gnats
    # 在不使用采集精准的情况下，被劫持的方块将产生狂疫蚋。 [default: true]
    B:"Break Hijacked Block to Spawn Gnats"=true

    # Chance(1 = 0.01%).
    # 爆裂几率（单位：万分之一(‱)）
    # 確率（単位：10,000分の1(‱)） [range: 0 ~ 10000, default: 12]
    I:"Hijacked Iron Pressure Plate "=12

    # If you set true last & this,Hijacked Iron Pressure Plate will be cracked and release Plenty of Gnats while being pressed
    # 在允许上一条的前提下，踩踏被劫持的铁压力板有几率爆裂，并产生狂疫蚋。
    # 前のものが許可されている場合、ハイジャックされた鉄の感圧板を踏むと、破裂してブヨを生成する可能性があります。 [default: true]
    B:"Hijacked Iron Pressure Plate can be cracked to Spawn Gnats"=true
}


##########################################################################################################
# catch
#--------------------------------------------------------------------------------------------------------#
# Catch Mobs
##########################################################################################################

catch {
    # The chance of catching Aquatic Carrier. 
    # 水生载体每次抓获的成功率。 
    # 水生担体妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Aquatic Carrier Chance"=1.0

    # Set to false if you want to disable Catch Aquatic Carrier. 
    # 水生载体可被抓获。 
    # 捕まえることを許可する水生担体妖。 [default: true]
    B:"Catch Aquatic Carrier Enabled"=true

    # The chance of catching Artisan. 
    # 匠兽每次抓获的成功率。 
    # 匠妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 0.9]
    S:"Catch Artisan Chance"=0.9

    # Set to false if you want to disable Catch Artisan. 
    # 匠兽可被抓获。 
    # 捕まえることを許可する匠妖。 [default: true]
    B:"Catch Artisan Enabled"=true

    # The chance of catching Assimilated Fox. 
    # 被同化的狐狸每次抓获的成功率。 
    # 同化されたキツネを捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Assimilated Fox Chance"=1.0

    # Set to false if you want to disable Catch Assimilated Fox. 
    # 被同化的狐狸可被抓获。 
    # 捕まえることを許可する同化されたキツネ。 [default: true]
    B:"Catch Assimilated Fox Enabled"=true

    # The chance of catching Assimilated Wolf. 
    # 被同化的狼每次抓获的成功率。 
    # 同化されたオオカミを捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Assimilated Wolf Chance"=1.0

    # Set to false if you want to disable Catch Assimilated Wolf. 
    # 被同化的狼可被抓获。 
    # 捕まえることを許可する同化されたオオカミ。 [default: true]
    B:"Catch Assimilated Wolf Enabled"=true

    # Set to false if you want to disable Catch Buglin. 
    # 虫灵可被抓获。 
    # 捕まえることを許可する霊虫。 [default: true]
    B:"Catch Buglin Enabled"=true

    # Set to false if you want to disable Catch Flea. 
    # 疫源蚤可被抓获。 
    # 捕まえることを許可する蚤。 [default: true]
    B:"Catch Flea Enabled"=true

    # The chance of catching Flying Carrier. 
    # 飞行载体每次抓获的成功率。 
    # 空飛担体妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Flying Carrier Chance"=1.0

    # Set to false if you want to disable Catch Flying Carrier. 
    # 飞行载体可被抓获。 
    # 捕まえることを許可する空飛担体妖。 [default: true]
    B:"Catch Flying Carrier Enabled"=true

    # The chance of catching Gadfly. 
    # 恒疫虻每次抓获的成功率。 
    # 虻を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 0.9]
    S:"Catch Gadfly Chance"=0.9

    # Set to false if you want to disable Catch Gadfly. 
    # 恒疫虻可被抓获。 
    # 捕まえることを許可する虻。 [default: true]
    B:"Catch Gadfly Enabled"=true

    # The chance of catching Gnat. 
    # 狂疫蚋每次抓获的成功率。 
    # 蚋を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Gnat Chance"=1.0

    # Set to false if you want to disable Catch Gnat. 
    # 狂疫蚋可被抓获。 
    # 捕まえることを許可する蚋。 [default: true]
    B:"Catch Gnat Enabled"=true

    # The chance of catching Grunt. 
    # 步行兽每次抓获的成功率。 
    # 独言妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 0.75]
    S:"Catch Grunt Chance"=0.75

    # Set to false if you want to disable Catch Grunt. 
    # 步行兽可被抓获。 
    # 捕まえることを許可する独言妖。 [default: true]
    B:"Catch Grunt Enabled"=true

    # The chance of catching Incomplete Skatter. 
    #  Skatter 每次抓获的成功率。 
    # 糞喰妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Incomplete Skatter Chance"=1.0

    # Set to false if you want to disable Catch Incomplete Skatter. 
    #  Skatter 可被抓获。 
    # 捕まえることを許可する糞喰妖。 [default: true]
    B:"Catch Incomplete Skatter Enabled"=true

    # The chance of catching Lava Carrier. 
    # 熔岩载体每次抓获的成功率。 
    # 溶岩担体妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Lava Carrier Chance"=1.0

    # Set to false if you want to disable Catch Lava Carrier. 
    # 熔岩载体可被抓获。 
    # 捕まえることを許可する溶岩担体妖。 [default: true]
    B:"Catch Lava Carrier Enabled"=true

    # The chance of catching Lice. 
    # 狂疫虱每次抓获的成功率。 
    # 虱を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Lice Chance"=1.0

    # Set to false if you want to disable Catch Lice. 
    # 狂疫虱可被抓获。 
    # 捕まえることを許可する虱。 [default: true]
    B:"Catch Lice Enabled"=true

    # The chance of catching Light Carrier. 
    # 轻型载体每次抓获的成功率。 
    # 軽型担体妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Light Carrier Chance"=1.0

    # Set to false if you want to disable Catch Light Carrier. 
    # 轻型载体可被抓获。 
    # 捕まえることを許可する軽型担体妖。 [default: true]
    B:"Catch Light Carrier Enabled"=true

    # The chance of catching Mangler. 
    # 凶裂兽每次抓获的成功率。 
    # 付喪妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 0.9]
    S:"Catch Mangler Chance"=0.9

    # Set to false if you want to disable Catch Mangler. 
    # 凶裂兽可被抓获。 
    # 捕まえることを許可する付喪妖。 [default: true]
    B:"Catch Mangler Enabled"=true

    # The chance of catching Medium Incomplete Form. 
    # 中块未成形寄生体每次抓获的成功率。 
    # 中型不完備形態を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Medium Incomplete Form Chance"=1.0

    # Set to false if you want to disable Catch Medium Incomplete Form. 
    # 中块未成形寄生体可被抓获。 
    # 捕まえることを許可する中型不完備形態。 [default: true]
    B:"Catch Medium Incomplete Form Enabled"=true

    # The chance of catching Micro Carrier. 
    # 微型载体每次抓获的成功率。 
    # 超軽型担体妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Micro Carrier Chance"=1.0

    # Set to false if you want to disable Catch Micro Carrier. 
    # 微型载体可被抓获。 
    # 捕まえることを許可する超軽型担体妖。 [default: true]
    B:"Catch Micro Carrier Enabled"=true

    # Set to false if you want to disable Catch Midge. 
    # 疫源蠓可被抓获。 
    # 捕まえることを許可する蠓。 [default: true]
    B:"Catch Midge Enabled"=true

    # Set to false if you want to disable Catch Parasites.
    # 寄生体可被抓获。 [default: true]
    B:"Catch Mobs Enabled"=true

    # The chance of catching Moving Flesh. 
    # 移动肉块每次抓获的成功率。 
    # 動く血肉を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Moving Flesh Chance"=1.0

    # Set to false if you want to disable Catch Moving Flesh. 
    # 移动肉块可被抓获。 
    # 捕まえることを許可する動く血肉。 [default: true]
    B:"Catch Moving Flesh Enabled"=true

    # The chance of catching Moving Head. 
    # 移动头颅每次抓获的成功率。 
    # 動く頭を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Moving Head Chance"=1.0

    # Set to false if you want to disable Catch Moving Head. 
    # 移动头颅可被抓获。 
    # 捕まえることを許可する動く頭。 [default: true]
    B:"Catch Moving Head Enabled"=true

    # Set to false if you want to disable Catch Prentice. 
    # 徒蛆可被抓获。 
    # 捕まえることを許可する蛆弟子。 [default: true]
    B:"Catch Prentice Enabled"=true

    # The chance of catching Rupter. 
    # 裂兽每次抓获的成功率。 
    # 悧妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Rupter Chance"=1.0

    # Set to false if you want to disable Catch Rupter. 
    # 裂兽可被抓获。 
    # 捕まえることを許可する悧妖。 [default: true]
    B:"Catch Rupter Enabled"=true

    # The chance of catching Small Incomplete Form. 
    # 小块未成形寄生体每次抓获的成功率。 
    # 小型不完備形態を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Small Incomplete Form Chance"=1.0

    # Set to false if you want to disable Catch Small Incomplete Form. 
    # 小块未成形寄生体可被抓获。 
    # 捕まえることを許可する小型不完備形態。 [default: true]
    B:"Catch Small Incomplete Form Enabled"=true

    # The chance of catching Tick. 
    # 恒疫蜱每次抓获的成功率。 
    # 蜱を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 0.9]
    S:"Catch Tick Chance"=0.9

    # Set to false if you want to disable Catch Tick. 
    # 恒疫蜱可被抓获。 
    # 捕まえることを許可する蜱。 [default: true]
    B:"Catch Tick Enabled"=true

    # The chance of catching Worker. 
    # 工兽每次抓获的成功率。 
    # 働妖を捕まえる成功率。 [range: 1.0E-4 ~ 1.0, default: 1.0]
    S:"Catch Worker Chance"=1.0

    # Set to false if you want to disable Catch Worker. 
    # 工兽可被抓获。 
    # 捕まえることを許可する働妖。 [default: true]
    B:"Catch Worker Enabled"=true
}


##########################################################################################################
# colorful_sheep
#--------------------------------------------------------------------------------------------------------#
# Colorful Assimilated Sheep
##########################################################################################################

colorful_sheep {
    # Assimilated Sheep will spawn with colorful wool,Set to false if you want to disable Colorful Assimilated Sheep.
    # 启用多彩同化羊。
    #  [default: true]
    B:"Colorful Assimilated Sheep Enabled"=true
}


##########################################################################################################
# configuration_systems
#--------------------------------------------------------------------------------------------------------#
# Systems configuration 
# Version:0.4.5
#  
##########################################################################################################

configuration_systems {
}


##########################################################################################################
# physics
#--------------------------------------------------------------------------------------------------------#
# Physics
##########################################################################################################

physics {
    # Set to false if you do not want to Lantern falling.
    # 灯笼下落。
    #  [default: true]
    B:"Lantern Falling"=true

    # Set to false if you do not want to Rupter Viscera Block falling.
    # 裂兽内脏块下落。
    #  [default: true]
    B:"Rupter Viscera Block Falling"=true
}


##########################################################################################################
# quench_cube
#--------------------------------------------------------------------------------------------------------#
# ABOUT Quench Cube
##########################################################################################################

quench_cube {
    # Transport Radius for Assimilatednder.
    # 设置寄影传送的半径。 [range: 0 ~ 256, default: 100]
    I:"Quench Cube lit Fire Duration"=100

    # Set to false if you want to disable Quench Cube lit Parasites.
    # 启用寄影珍珠。
    #  [default: true]
    B:"Quench Cube lit Parasites Enabled"=true

    # Transport Radius for Assimilatednder.
    # 设置寄影传送的半径。 [range: 0 ~ 256, default: 3]
    I:"Quench Cube lit Radius"=3
}


##########################################################################################################
# simender
#--------------------------------------------------------------------------------------------------------#
# ABOUT Assimilatender
##########################################################################################################

simender {
    # Set to false if you want to disable Assimilatender Pearl.
    # 启用寄影珍珠。
    #  [default: true]
    B:"Assimilatender Pearl Enabled"=true

    # Set to false if you want to disable Assimilatender Pearl with Thunder.
    # 启用寄影珍珠落雷の特徴。
    #  [default: true]
    B:"Assimilatender Pearl Thunder Enabled"=true

    # Transport Radius for Assimilatednder.
    # 设置寄影传送的半径。 [range: 0 ~ 256, default: 128]
    I:"Assimilatender Transport Radius"=128

    # Set to false if you want to disable Callinig Fruit.
    # 启用赤唤果。 [default: true]
    B:"Calling Fruit Enabled"=true
}


