# Configuration file

##########################################################################################################
# boss_bar
#--------------------------------------------------------------------------------------------------------#
# Boss Bar Config
##########################################################################################################

boss_bar {
    # Set to false if you want to disable Special Boss Bar. [default: true]
    B:"Ancient Draughnt Boss Bar Enabled"=true

    # Set to false if you want to disable Ancient Matriarch Boss Bar. [default: true]
    B:"Ancient Matriarch Boss Bar Enabled"=true

    # Set to false if you want to disable Ancient Overlord Boss Bar. [default: true]
    B:"Ancient Overlord Boss Bar Enabled"=true

    # Set to false if you want to disable Assimilated Ender Dragon Boss Bar. [default: true]
    B:"Assimilated Ender Dragon Boss Bar Enabled"=true

    # Set to false if you want to disable Beckon Stage IV Boss Bar. [default: true]
    B:"Beckon Stage IV Boss Bar Enabled"=true

    # Set to false if you want to disable Dispatcher Stage IV Boss Bar. [default: true]
    B:"Dispatcher Stage IV Boss Bar Enabled"=true

    # Set to false if you want to disable Draconite Boss Bar. [default: true]
    B:"Draconite Boss Bar Enabled"=true

    # Set to false if you want to disable Drifter Stage IV Boss Bar. [default: true]
    B:"Drifter Stage IV Boss Bar Enabled"=true

    # Set to false if you want to disable Kirin Boss Bar. [default: true]
    B:"Kirin Boss Bar Enabled"=true

    # Set to false if you want to disable Phylliser Stage IV Boss Bar. [default: true]
    B:"Phylliser Stage IV Boss Bar Enabled"=true

    # Set to false if you want to disable Rooter Stage IV Boss Bar. [default: true]
    B:"Rooter Stage IV Boss Bar Enabled"=true

    # Set to false if you want to disable Special Boss Bar. [default: false]
    B:"Special Boss Bar Enabled"=false
}


##########################################################################################################
# configuration_general
#--------------------------------------------------------------------------------------------------------#
# General configuration 
# Version:0.4.5
# 
#  
##########################################################################################################

configuration_general {
    # Set to false if you want to disable using old model for Adapted Manducater. [default: false]
    B:"Use Old Model for Adapted Manducater Enabled"=false

    # Set to false if you want to disable using old model for Adapted Tozoon. [default: false]
    B:"Use Old Model for Adapted Tozoon Enabled"=false

    # Set to false if you want to disable using old model for Assimilated Fox. [default: false]
    B:"Use Old Model for Assimilated Fox Enabled"=false

    # Set to false if you want to disable using old model for Primitive Manducater. [default: false]
    B:"Use Old Model for Primitive Manducater Enabled"=false

    # Set to false if you want to disable using old model for Primitive Tozoon. [default: false]
    B:"Use Old Model for Primitive Tozoon Enabled"=false
}


