# Configuration file

##########################################################################################################
# configuration_general
#--------------------------------------------------------------------------------------------------------#
# General configuration 
# Version:0.4.5
# 
#  
##########################################################################################################

configuration_general {
    # Set to false if you want to use only one Creative Tabs. [default: true]
    B:"Creative Tab Split"=true

    # Chance to spawn a Assimilated Snow Fox with a Foxy nametags. [range: 0.0 ~ 1.0, default: 0.005]
    S:"Mod Easter Egg (Foxes Nametags)"=0.005

    # Chance to spawn a Folk with such nametags. [range: 0.0 ~ 1.0, default: 1.0]
    S:"Mod Easter Egg (Nametags)"=1.0

    # Set to false if you want to disable Easter Eggs. [default: true]
    B:"Mod Easter Eggs"=true
}


##########################################################################################################
# parasite_properties
#--------------------------------------------------------------------------------------------------------#
# Parasite Properties
##########################################################################################################

parasite_properties {
    # List of block that can't be broken by the griefing task, Ex: "minecraft:stonebrick" or just "minecraft" for a whole mod [default: [srpcalamity]]
    S:"Mobs with Griefing Task Blacklist" <
        srpcalamity
     >
}


parasite_properties_artist {
    # How many Artpoints Primitive versions need for the Adapted stage. [range: 0.0 ~ 1000000.0, default: 16.0]
    S:"Arts for Adapted Stage"=16.0

    # How many Artpoints Preeminent versions need for the Ancient stage. [range: 0.0 ~ 1000000.0, default: 16384.0]
    S:"Arts for Ancient Stage"=16384.0

    # How many Artpoints Pure versions need for the Preeminent stage. [range: 0.0 ~ 1000000.0, default: 2048.0]
    S:"Arts for Preeminent Stage"=2048.0

    # How many Artpoints Adapted versions need for the Pure stage. [range: 0.0 ~ 1000000.0, default: 64.0]
    S:"Arts for Pure Stage"=64.0

    # How many Artpoints per killcount will convert. [range: 0.01 ~ 100.0, default: 0.1]
    S:"Arts from Killcount"=0.1
}


parasite_properties_pious {
    # Minimum number of hits required to kill Pious versions. [range: 1 ~ 100, default: 5]
    I:"Version Pious Damage Cap"=5

    # How many points parasites will lose when it is killed. [range: 0 ~ 1000000000, default: 15]
    I:"Version Pious Death Penalty Evolution Value"=15

    # Set to true for Pious versions to despawn. [default: true]
    B:"Version Pious Despawn"=true

    # Follow range. [range: 0.0 ~ 128.0, default: 32.0]
    S:"Version Pious Follow Range"=32.0

    # Penalty for parasites when someone is invisible, the lower the value the higher the chance of not being seen, vanilla value is 0.7. [range: 0.0 ~ 1.0, default: 1.0]
    S:"Version Pious Invisible Penalty"=1.0

    # Minimum Damage for Pious versions. [range: 0.0 ~ 1024.0, default: 1.0]
    S:"Version Pious Minimum Damage"=1.0

    # Life points required to be rebuilt. [range: 1 ~ 50000, default: 12]
    I:"Version Pious Remain Value"=12

    # Death value set in EntityParasiticScent, used if parasite_collective_consciousness is enabled. [range: 1 ~ 1000, default: 15]
    I:"Version Pious Scent Death Value"=15

    # Penalty for parasites when someone is sneaking, the lower the value the higher the chance of not being seen, vanilla value is 0.800000011920929. [range: 0.0 ~ 1.0, default: 1.0]
    S:"Version Pious Sneak Penalty"=1.0

    # XP value. [range: 1 ~ 50000, default: 32]
    I:"Version Pious XP Value"=32
}


