# Configuration file

##########################################################################################################
# configuration_systems
#--------------------------------------------------------------------------------------------------------#
# Systems configuration 
# Version:0.4.5
#  
##########################################################################################################

configuration_systems {
}


##########################################################################################################
# merge_system
#--------------------------------------------------------------------------------------------------------#
# Merge System 
#  The Assimilated have the ability to learn from their battles and if the conditions are met, they will 
#  start to melt until they're some Moving Flesh 
#  If 2 of these things meet, they will fuse together and grow, if they get big enough they will spawn 
#  a mob from the Mob List.
#  
#  Conditions for the Assimilated to turn into Moving Flesh: 
#  
#  -The first condition: the Assimilated needs to reach the primitive killcount. 
#  -The second condition: it needs to be next to 3 more Assimilated, regardless of their killcount/specie 
#  OR it needs to be next to a Moving Flesh. 
#  If the Assimilated with the killcount is next to atleast 3 more Assimilated, the four of them will start 
#  to melt BUT if it is next to a Moving flesh, only it will start to melt.
##########################################################################################################

merge_system {
    # Mob list used in the merge system to spawn mobs. Ex. "minecraft:zombie;11"  Where: 
    #  "minecraft:zombie" is for the entity, 
    #  "11" is for the value the entity has (value must be an integer). 
    #  Each Assimilated has a value, the value then passes to the Moving Flesh and when 2 Moving Flesh merge together both values will add up
    #  If the value matches one in the list, the corresponding entity will spawn, else it will be a random one. 
    #  [default: [srparasites:pri_devourer;1], [srparasites:pri_ginger;1], [srparasites:pri_phobia;1]]
    S:"Hydrate Merge System Mob List" <
        srparasites:pri_devourer;1
        srparasites:pri_ginger;1
        srparasites:pri_phobia;1
     >

    # Assimilated mob list with their values used in the merge system to spawn mobs. Ex. "srparasites:infhuman;22"  Where: 
    #  "srparasites:infhuman" is for the entity (only works for Assimilated versions minus Big Spider, Enderdragon), 
    #  "22" is for the value the Moving Flesh will have (value must be an integer). 
    #  [default: [srparasites:sim_fox;1], [srparasites:sim_donkey;1], [srparasites:sim_mule;1], [srparasites:sim_llama;1], [srparasites:sim_goat;1], [srparasites:sim_pillager;1], [srparasites:sim_sniffer;3]]
    S:"Merge System Assimilated Values" <
        srparasites:sim_fox;1
        srparasites:sim_donkey;1
        srparasites:sim_mule;1
        srparasites:sim_llama;1
        srparasites:sim_goat;1
        srparasites:sim_pillager;1
        srparasites:sim_sniffer;3
     >

    # Mob list used in the merge system to spawn mobs. Ex. "minecraft:zombie;11"  Where: 
    #  "minecraft:zombie" is for the entity, 
    #  "11" is for the value the entity has (value must be an integer). 
    #  Each Assimilated has a value, the value then passes to the Moving Flesh and when 2 Moving Flesh merge together both values will add up
    #  If the value matches one in the list, the corresponding entity will spawn, else it will be a random one. 
    #  [default: [srparasites:pri_harvester;0]]
    S:"Merge System Mob List" <
        srparasites:pri_harvester;0
     >
}


##########################################################################################################
# midge_grow
#--------------------------------------------------------------------------------------------------------#
# Midge Grow to Gnat/Gadfly
##########################################################################################################

midge_grow {
    # Midgegrows to Gadfly Chance on Phase Phase 0. 
    # 疫源蠓在阶段 0时候进化为恒疫虻的概率。 
    # 蠓は段階 0の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.01]
    S:"Gadfly Chance Phase 0"=0.01

    # Midgegrows to Gadfly Chance on Phase Phase 1. 
    # 疫源蠓在阶段 1时候进化为恒疫虻的概率。 
    # 蠓は段階 1の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.02]
    S:"Gadfly Chance Phase 1"=0.02

    # Midgegrows to Gadfly Chance on Phase Phase 10. 
    # 疫源蠓在阶段 10时候进化为恒疫虻的概率。 
    # 蠓は段階 10の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 1.0]
    S:"Gadfly Chance Phase 10"=1.0

    # Midgegrows to Gadfly Chance on Phase Phase 2. 
    # 疫源蠓在阶段 2时候进化为恒疫虻的概率。 
    # 蠓は段階 2の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.03]
    S:"Gadfly Chance Phase 2"=0.03

    # Midgegrows to Gadfly Chance on Phase Phase 3. 
    # 疫源蠓在阶段 3时候进化为恒疫虻的概率。 
    # 蠓は段階 3の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.05]
    S:"Gadfly Chance Phase 3"=0.05

    # Midgegrows to Gadfly Chance on Phase Phase 4. 
    # 疫源蠓在阶段 4时候进化为恒疫虻的概率。 
    # 蠓は段階 4の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.1]
    S:"Gadfly Chance Phase 4"=0.1

    # Midgegrows to Gadfly Chance on Phase Phase 5. 
    # 疫源蠓在阶段 5时候进化为恒疫虻的概率。 
    # 蠓は段階 5の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.25]
    S:"Gadfly Chance Phase 5"=0.25

    # Midgegrows to Gadfly Chance on Phase Phase 6. 
    # 疫源蠓在阶段 6时候进化为恒疫虻的概率。 
    # 蠓は段階 6の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.55]
    S:"Gadfly Chance Phase 6"=0.55

    # Midgegrows to Gadfly Chance on Phase Phase 7. 
    # 疫源蠓在阶段 7时候进化为恒疫虻的概率。 
    # 蠓は段階 7の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.72]
    S:"Gadfly Chance Phase 7"=0.72

    # Midgegrows to Gadfly Chance on Phase Phase 8. 
    # 疫源蠓在阶段 8时候进化为恒疫虻的概率。 
    # 蠓は段階 8の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.8]
    S:"Gadfly Chance Phase 8"=0.8

    # Midgegrows to Gadfly Chance on Phase Phase 9. 
    # 疫源蠓在阶段 9时候进化为恒疫虻的概率。 
    # 蠓は段階 9の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 1.0]
    S:"Gadfly Chance Phase 9"=1.0
}


##########################################################################################################
# status_effects
#--------------------------------------------------------------------------------------------------------#
# Status effects of the mod
##########################################################################################################

status_effects {
}


