# Configuration file

##########################################################################################################
# configuration_touhou
#--------------------------------------------------------------------------------------------------------#
# Touhou configuration 
# Version:0.4.5
# 
#  
##########################################################################################################

configuration_touhou {
    # Set to false if you want to disable Touhou Items.
    # 启用东方系列相关物品。 [default: true]
    B:"Touhou Enabled"=true

    # Set to false if you want to disable Touhou Items get in survival mode.
    # 启用东方系列相关物品。 [default: true]
    B:"Touhou Items can get in survival mode"=true

    # Set to false if you want to disable Touhou Items get in Creative Table.
    # 启用东方系列相关物品。 [default: false]
    B:"Touhou Items in Creative Table"=false
}


##########################################################################################################
# koishi
#--------------------------------------------------------------------------------------------------------#
# ABOUT Komeiji Koishi
##########################################################################################################

koishi {
    # Set to false if you want to disable Experiment 514.
    # 启用试验物品514。 [default: true]
    B:"Koishi Enabled"=true
}


##########################################################################################################
# yuyuko
#--------------------------------------------------------------------------------------------------------#
# ABOUT Saigyouji Yuyuko
##########################################################################################################

yuyuko {
    # Set to false if you want to disable Wraith Fan.
    # 启用幽鬼扇。 [default: true]
    B:"Yuyuko Enabled"=true
}


