# Configuration file

##########################################################################################################
# catch
#--------------------------------------------------------------------------------------------------------#
# ##########################################################################
# #----------------------Scape and Run: Parasites DSD----------------------#
# ##########################################################################
##########################################################################################################

catch {
    # The chance of catching Assimilated Crab(in SRPQ).
    # 被同化的螃蟹（夸克）抓获几率。 [range: 0 ~ 100, default: 100]
    I:"Catch Assimilated Crab Chance"=100

    # Set to false if you want to disable catching Assimilated Crab(in SRPQ).
    # 被同化的螃蟹（夸克）可被抓获。 [default: true]
    B:"Catch Assimilated Crab Enabled"=true

    # The chance of catching Assimilated Frog(in SRPQ).
    # 被同化的青蛙（夸克）抓获几率。 [range: 0 ~ 100, default: 100]
    I:"Catch Assimilated Frog Chance"=100

    # Set to false if you want to disable catching Assimilated Frog(in SRPQ).
    # 被同化的青蛙（夸克）可被抓获。 [default: true]
    B:"Catch Assimilated Frog Enabled"=true

    # The chance of catching Assimilated Ocelot(in SRPE).
    # 被同化的豹猫抓获几率。 [range: 0 ~ 100, default: 100]
    I:"Catch Assimilated Ocelot Chance"=100

    # Set to false if you want to disable catching Assimilated Ocelot(in SRPE).
    # 被同化的豹猫可被抓获。 [default: true]
    B:"Catch Assimilated Ocelot Enabled"=true
}


##########################################################################################################
# evil_cotesia
#--------------------------------------------------------------------------------------------------------#
# Merge System 
#  Starting Evil Player things
##########################################################################################################

evil_cotesia {
    # Set to false if you want to disable Assimiender Teleport Evil Player. [default: true]
    B:"Assimender Teleport Player"=true

    # Biomass cost and bloom tier for each parasite. Most systems in this mod, specifically those revolving around factories, need parasites to be registered here.
    # The bloom tier is the base bloom level needed to create or salvage it.
    # List a parasite as 'resourceLocation|tier|cost' without the quotes. 'srparasites:rupter|0|3' is a good example.
    # 'resourceLocation|tier|cost|addedFuseTime' can be used to add more ticks to the construction time for a parasite in a factory.
    # This extra fuse time is unaffected by the Global Fuse Scalar. [default: [srparasites:pri_harvester|2|30], [srparasites:sim_donkey|1|10], [srparasites:sim_donkeyhead|1|5], [srparasites:sim_mule|1|10], [srparasites:sim_mulehead|1|5], [srparasites:sim_fox|1|10], [srparasites:sim_foxhead|1|5], [srparasites:pri_ginger|2|35], [srparasites:pri_phobia|2|35], [srparasites:ada_phobia|3|45]]
    S:"Evil Cotesia Cost Settings" <
        srparasites:pri_harvester|2|30
        srparasites:sim_donkey|1|10
        srparasites:sim_donkeyhead|1|5
        srparasites:sim_mule|1|10
        srparasites:sim_mulehead|1|5
        srparasites:sim_fox|1|10
        srparasites:sim_foxhead|1|5
        srparasites:pri_ginger|2|35
        srparasites:pri_phobia|2|35
        srparasites:ada_phobia|3|45
     >

    # Set to false if you want to disable Evil Cotesia Expand. [default: true]
    B:"Evil Cotesia Expand"=true
}


##########################################################################################################
# merge_system
#--------------------------------------------------------------------------------------------------------#
# Merge System 
#  The Assimilated have the ability to learn from their battles and if the conditions are met, they will 
#  start to melt until they're some Moving Flesh 
#  If 2 of these things meet, they will fuse together and grow, if they get big enough they will spawn 
#  a mob from the Mob List.
#  
#  Conditions for the Assimilated to turn into Moving Flesh: 
#  
#  -The first condition: the Assimilated needs to reach the primitive killcount. 
#  -The second condition: it needs to be next to 3 more Assimilated, regardless of their killcount/specie 
#  OR it needs to be next to a Moving Flesh. 
#  If the Assimilated with the killcount is next to atleast 3 more Assimilated, the four of them will start 
#  to melt BUT if it is next to a Moving flesh, only it will start to melt.
##########################################################################################################

merge_system {
    # Mob list used in the merge system to spawn mobs. Ex. "minecraft:zombie;11"  Where: 
    #  "minecraft:zombie" is for the entity, 
    #  "11" is for the value the entity has (value must be an integer). 
    #  Each Assimilated has a value, the value then passes to the Moving Flesh and when 2 Moving Flesh merge together both values will add up
    #  If the value matches one in the list, the corresponding entity will spawn, else it will be a random one. 
    #  [default: [srparasites:pri_hammerhead;1]]
    S:"Hydrate Merge System Mob List" <
        srparasites:pri_hammerhead;1
     >
}


