# Configuration file

~CONFIG_VERSION: 1.10.7

##########################################################################################################
# big_meteor
#--------------------------------------------------------------------------------------------------------#
# Big Meteor Settings
##########################################################################################################

big_meteor {
    # X coordinates of the center. [range: -999999 ~ 999999, default: 0]
    I:"$centerBigMeteorX"=0

    # Z coordinates of the center. [range: -999999 ~ 999999, default: 0]
    I:"$centerBigMeteorZ"=0

    # Number of large meteorites. [range: 0 ~ 999, default: 1]
    I:"$countBigMeteor"=1

    # The logic behind the search for the meteorite impact site.
    # "0" - any place within a radius(if the position is not found, it will be used by default),
    # "1" - a chunk that hasn't been created yet,
    # "2" - unloaded chunk. [range: 0 ~ 2, default: 1]
    I:"$logicBigMeteorSpawn"=1

    # The maximum hardness of a block that can be destroyed by a large meteorite. [range: 0.0 ~ 999999.0, default: 50.0]
    S:"$maxHardnessBlock"=50.0

    # The radius from the center at which a meteorite could fall. [range: 0 ~ 999999, default: 1000]
    I:"$radiusSpawnBigMeteor"=1000

    # Use the position of a randomly selected player as the center. [default: false]
    B:"$useRandomPlayerPos"=false
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Client Settings
##########################################################################################################

client {
    # Number of visible meteors in the meteor shower. [range: 0 ~ 999999, default: 1000]
    I:countVisualMeteorShower=1000

    # Notice in the chat when the meteorite fall event ended. [default: ]
    S:messageMeteoriteEnd=

    # Notice in the chat when the meteorite fall event begins. [default: ]
    S:messageMeteoriteStart=

    # Visual display of the meteor shower. [default: true]
    B:visualMeteorShower=true

    #  [range: 0.0 ~ 100.0, default: 1.0]
    S:volumePhaseChange=1.0
}


##########################################################################################################
# logic
#--------------------------------------------------------------------------------------------------------#
# Main Logic Settings
##########################################################################################################

logic {
    # Possibility of a meteor strike. [range: 0.0 ~ 1.0, default: 0.25]
    S:dayChanceStartMeteor=0.25

    # Day 100% of the event starts. [range: 1 ~ 999, default: 7]
    I:daySpawnMeteorFinal=7

    # A day when there's a chance of a meteor strike. [range: 1 ~ 999, default: 1]
    I:dayStartChanceMeteor=1

    # The ID of the dimension where the event will take place. [range: -999 ~ 999, default: 0]
    I:idDimensionEvent=0

    # Time in ticks when the meteorite strike event begins. [range: 0 ~ 20000, default: 13000]
    I:timeStartMeteorEvent=13000

    # After the meteorite impact, set the phase of the selected dimensions on.  Ex. "1;0;true;true;0;9"
    # "1" - Id Dimension,
    # "0" - Phase,
    # "true" - canGainPoint,
    # "true" - canLossPoint,
    # "0" - Phase Message (if "-1" - disable Phase Message),
    # "9" - Phase Sound (if "0" - disable Phase Sound). [default: [0;0;true;true;0;9], [1;-1;true;true;-1;9], [-1;-1;true;true;-1;9]]
    S:worldsPhaseEventSet <
        0;0;true;true;0;9
        1;-1;true;true;-1;9
        -1;-1;true;true;-1;9
     >

    # Worlds Start Phase. [default: [0;-2;400], [1;-2;400], [-1;-2;400]]
    S:worldsStartPhase <
        0;-2;400
        1;-2;400
        -1;-2;400
     >
}


