#-------------------------------------------------------------------#
# Cherry Configuration file
#-------------------------------------------------------------------#
# After modification, you need to restart the game to take effect.
#-------------------------------------------------------------------#

Cherry {
    D:configVersion=28

#--- petals

    # cherry_sapling Generate pink_petals
    B:cherrySaplingAndPetals=true

    # Remove placement restrictions for pink petals (can be placed on any full block) -Default: "false" -Default: "false"
    B:petalsUnlimitedPlace=false

    # Spawnable Biomes (Format: modid:biome_registry_name) (Use "," to separate biomes) (Multiple entries allowed for same biome)
    S:pink_petals="suikecherry:suike_cherry_grove"
    S:wild_flowers="minecraft:mutated_forest, minecraft:birch_forest, minecraft:birch_forest_hills, minecraft:mutated_birch_forest, minecraft:mutated_birch_forest_hills"
    S:leaf_litter="minecraft:forest, minecraft:forest_hills, minecraft:roofed_forest, minecraft:mutated_roofed_forest"

#--- Cherry Particles

    # cherry Particle Chance (lower value = more particles, 0 = disabled) -Default: "32"
    D:cherryParticleChance=32

#--- Generations are turned off, any sapling and pink dye can be used to craft cherry saplings.
#--- cherry_grove Biome

    # Generate cherry_grove biome -Default: "true"
    B:spawnCherryBiome=true

    # cherry_grove biome weight -Default: "6" -Max: "128" -Warning: "Only works for NEW worlds, editing existing worlds will cause terrain cracks"
    D:cherryBiomeSize=6

    # cherry_grove biome base height -Default: "2.0" -Max: "1"
    D:cherryBiomeBaseHeight=2.0

    # cherry_grove biome Height Variatio -Default: "0.48" -Max: "1"
    D:cherryBiomeHeightVariation=0.48

    # cherry_grove biome spawns bamboo -Default: "true"
    B:cherryBiomeSpawnBamboo=true

    # Fix Floating Terrain -The function currently has low performance -Default: "true"
    B:fixFloatingTerrain=true

    # Bamboo priority (prioritize existing mods; mods with same priority will coexist)
    Bamboo {
        D:futuremc=0
        D:biomesoplenty=1
        D:sakura=2
    }

#--- Beehives

    # Cherry saplings grow with beehives -Default: "true"
    B:saplingSpawnBee=true

    # Cherry trees grow with beehives -Default: "true"
    B:spawnTreeSpawnBee=true

#--- Structure

    # Gen Desert Well  -Default: "true"
    B:genDesertWell=true

    # Gen Desert Pyramid -Default: "true"
    B:genDesertPyramid=true

    # Gen Ocean Ruins -Default: "true"
    B:genOceanRuins=true

    # Gen Trail Ruins -Default: "true"
    B:genTrailRuins=true

#--- Block

    # strip -Default: "true"
    B:stripLog=true

    # When placing brushable blocks, ignore game mode (still generates treasure when placed in Survival mode) - Default: "false"
    B:brushableDisregardGamemode=false

    # chiseled Bookshelf need Silk Touch -Default: "false"
    B:chiseledBookShelfNeedSilkTouch=false

    # Kindle Block -Default: "false"
    B:blockFire=false

#--- Boat with Chest

    # Add Boat with Chest -Default: "true"
    B:addBoatChest=true

#--- Trim

    # render Armor Trim -默认: "true"
    B:renderArmorTrim=true

    # Simple Smithing Template Copy: A diamond can copy -Default: "false"
    B:simpleSmithingTemplateCopy=false

    # Piglins do not attack players wearing armor trimmed with Gold material - Default: "false"
    B:piglinIgnorePlayersWithGoldTrim=false
}