# Configuration file

general {

    common {
        B:allowInviteAll=false
        B:allowPartyTP=true
        B:autoAssignParties=false
        B:debugMode=false
        B:friendlyFireDisabled=true
    }

    client {
        S:anchorPoint=top-left
        S:extraNumberType=additional
        B:hideGUI=false
        B:hideSelf=true
        B:numbersAsPercentage=false
        B:showAbsorption=false
        B:showArmor=false
        B:showHunger=true
        I:uiYOffset=3
        B:useSimpleUI=false
    }

}


