# Configuration file

general {
    S:aspectBlackList <
     >
    D:aspectObtainMultiplier=0.5
    I:aspectTotalCap=10000
    B:instantScans=false
    I:notificationDelay=2000
    I:notificationMax=10
    D:researchDifficultyMultiplier=0.5
}


