# Configuration file

~CONFIG_VERSION: 0.5.2

##########################################################################################################
# events settings
#--------------------------------------------------------------------------------------------------------#
# Events Settings (WIP)
##########################################################################################################

"events settings" {
    # Use custom events [default: false]
    B:"Custom Events"=false

    # Main World [range: -999 ~ 999, default: 0]
    I:eventMainWorld=0
}


##########################################################################################################
# parasite surge settings
#--------------------------------------------------------------------------------------------------------#
# Parasite Surge settings
##########################################################################################################

"parasite surge settings" {
    # Event day (the days start at 0). [range: 1 ~ 999, default: 5]
    I:parasiteSurgeDayCD=5

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 0.0]
    S:parasiteSurgeFogBlue=0.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.1]
    S:parasiteSurgeFogDensity=0.1

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 0.0]
    S:parasiteSurgeFogGreen=0.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 25.0]
    S:parasiteSurgeFogRed=25.0

    # Parasite Surge On? [default: true]
    B:parasiteSurgeOn=true
}


