# Configuration file

~CONFIG_VERSION: 0.5.2

##########################################################################################################
# mod settings
#--------------------------------------------------------------------------------------------------------#
# Mod settings
##########################################################################################################

"mod settings" {
    # Fix Titanium ore, "mekores" [default: true]
    B:MEKANISM_TECHGUNSRecipeFix=true

    # Rewrite the configuration of the Galacticraft mod? If false, then all interventions in the mod (adding a solar system with parasites) will be disabled. [default: true]
    B:RewriteGALACTICRAFTconfig=true

    # Rewrite the configuration of the Mekanism mod? If false, then all interventions in the mod (adding recipes) will be disabled. [default: true]
    B:RewriteMEKANISMconfig=true

    # Rewrite the configuration of the SRParasites mod? If false, then all interventions in the mod (adding loot to mobs, changing some values) will be disabled. [default: true]
    B:RewriteSRPconfig=true

    # Rewrite the configuration of the Techguns mod? If false, then all interventions in the mod (adding recipes and fixing spawn of creatures from the mod, changing some values) will be disabled. [default: true]
    B:RewriteTECHGUNSconfig=true

    # Add custom mob drop [default: true]
    B:SRPInjectAddCustomMobDrop=true

    # Beacons are generated everywhere (on infected blocks) [default: true]
    B:SRPInjectBeaconInvasion=true

    # Use Fog? [default: true]
    B:"Use Fog"=true

    # add Mekanism recipe? [default: true]
    B:addMEKANISMRecipe=true

    # add Techguns recipe? [default: true]
    B:addTECHGUNSRecipe=true

    # If item null > continue roll [default: false]
    B:continueRollLoot=false

    # Editing Mod DEV [default: false]
    B:editingMod=false

    # Scenario of the mod's work.
    #  -2 - Normal World generation (Player appears in the Overworld). Parasitic Dimension and Underworld are disabled, generation of structures is disabled.
    #  -1 - Normal World generation (Player appears in the Overworld). Parasitic Dimension and Underworld are disabled, generation of structures is always unable.
    #  0 - Normal World generation (Player appears in the Overworld).
    #  1 - replace OVERWORLD with a Parasite Dimension, Nether Portal Unable (Player appears in the Parasite_World).
    #  2 - replace OVERWORLD with a Parasite Dimension, Nether Portal Disable (Player appears in the Parasite_World).
    #  3 - replace OVERWORLD with a Parasite Dimension, replace Nether (Player appears in the Parasite_World).
    #  4 - replace OVERWORLD with a Parasite Dimension, replace Nether, Nether Portal Disable, World size limit 50x50 chunks (Player appears in the Parasite_World).
    #  [range: -100 ~ 100, default: 0]
    I:worldCreationScenario=0
}


