# Configuration file

~CONFIG_VERSION: 0.5.2

##########################################################################################################
# city settings
#--------------------------------------------------------------------------------------------------------#
# City Settings
##########################################################################################################

"city settings" {
    # City coordinates in the Overworld [default: [80;40], [-90;40], [-80;30], [120;-50]]
    S:coordinateCitySpawnOverworld <
        80;40
        -90;40
        -80;30
        120;-50
     >

    # City coordinates in the Parasitic Dimension [default: [40;40], [-100;-40]]
    S:coordinateCitySpawnParasiteDimension <
        40;40
        -100;-40
     >

    # Number of repetitive Big buildings. [range: 0 ~ 99, default: 0]
    I:numberOfRepetitiveBigBuildings=0

    # Number of repetitive Small and Middle buildings. [range: 0 ~ 99, default: 1]
    I:numberOfRepetitiveSmallAndMiddleBuildings=1
}


##########################################################################################################
# galacticraft
#--------------------------------------------------------------------------------------------------------#
# Galacticraft support (in the process of)
##########################################################################################################

galacticraft {
    # The gravity of the arrows on the planet [range: -10.0 ~ 10.0, default: 0.005]
    S:parasitePlanetArrowGravity=0.005

    # There's gas on the planet. [default: true]
    B:parasitePlanetCO2=true

    # Fall damage modifier [range: -10.0 ~ 10.0, default: 0.01]
    S:parasitePlanetFallDamageModifier=0.01

    # Fuel utilization factor [range: -10.0 ~ 10.0, default: 0.9]
    S:parasitePlanetFuelUsageMultiplier=0.9

    # There's gas on the planet. [default: true]
    B:parasitePlanetGasARGON=true

    # Planetary gravity [range: -10.0 ~ 10.0, default: 0.005]
    S:parasitePlanetGravity=0.005

    # There's gas on the planet. [default: false]
    B:parasitePlanetHYDROGEN=false

    # There's oxygen on the planet. [default: true]
    B:parasitePlanetHasOxygen=true

    # There's gas on the planet. [default: false]
    B:parasitePlanetMETHANE=false

    # Meteorite impact frequency [range: -10.0 ~ 10.0, default: 0.0]
    S:parasitePlanetMeteoriteFrequency=0.0

    # There's gas on the planet. [default: false]
    B:parasitePlanetNITROGEN=true

    # Nether Portal [default: false]
    B:parasitePlanetNetherPortal=false

    # There's gas on the planet. [default: true]
    B:parasitePlanetOXYGEN=true

    # Should Corrode Armor. [default: false]
    B:parasitePlanetShouldCorrodeArmor=false

    # Should Disable Precipitation. [default: false]
    B:parasitePlanetShouldDisablePrecipitation=false

    # Solar Energy Multiplier. [range: -100.0 ~ 100.0, default: 0.5]
    S:parasitePlanetSolarEnergyMultiplier=0.5

    # Planet Solar Size. [range: -100.0 ~ 100.0, default: 1.0]
    S:parasitePlanetSolarSize=1.0

    # Planetary sound Volume reduction [range: -10.0 ~ 10.0, default: 0.01]
    S:parasitePlanetSoundVolReductionAmount=0.01

    # At what level can a rocket land on a planet? [range: -1 ~ 100, default: 3]
    I:parasitePlanetSpaceshipTierPass=3

    # Planet Thermal Level Modifier. [range: -10.0 ~ 10.0, default: 0.01]
    S:parasitePlanetThermalLevelModifier=0.01

    # There's water on the planet. [default: true]
    B:parasitePlanetWATER=true

    # Planet Wind Level. [range: -100.0 ~ 100.0, default: 1.0]
    S:parasitePlanetWindLevel=1.0
}


##########################################################################################################
# main settings
#--------------------------------------------------------------------------------------------------------#
# Settings
##########################################################################################################

"main settings" {
    # Set the ID for the Parasitic Dimension (if replaceOverworld false) [range: 2 ~ 999, default: 53]
    I:DIMENSION_PARASITIC_WORLD_ID=53

    # Set the ID for the Underground Dimension (if replaceOverworld false) [range: 2 ~ 999, default: 54]
    I:DIMENSION_UNDERGROUND_WORLD_ID=54

    # Parasite Dimension Phase Bonus [range: 0 ~ 999, default: 1]
    I:SRPInjectParasiteDimensionBonus=1

    # Parasite Dimension Start Phase [range: -2 ~ 11, default: 3]
    I:SRPInjectParasiteDimensionStartPhase=3

    # Underground Phase Bonus [range: 0 ~ 999, default: 3]
    I:SRPInjectUndergroundBonus=3

    # Underground Start Phase [range: -2 ~ 11, default: 4]
    I:SRPInjectUndergroundStartPhase=4

    # chunkLimit (only scenario 4) [range: 0 ~ 999999, default: 25]
    I:chunkLimit=25

    # Dimension RGB Fog Color [range: 0.0 ~ 255.0, default: 36.0]
    S:dimensionParasiteWorldFogBlue=36.0

    # Dimension RGB Fog Color [range: 0.0 ~ 255.0, default: 36.0]
    S:dimensionParasiteWorldFogGreen=36.0

    # Dimension RGB Fog Color [range: 0.0 ~ 255.0, default: 38.0]
    S:dimensionParasiteWorldFogRed=38.0

    # Dimension RGB Fog Color [range: 0.0 ~ 255.0, default: 76.4]
    S:dimensionUndergroundWorldFogBlue=76.4

    # Dimension RGB Fog Color [range: 0.0 ~ 255.0, default: 76.4]
    S:dimensionUndergroundWorldFogGreen=76.4

    # Dimension RGB Fog Color [range: 0.0 ~ 255.0, default: 51.0]
    S:dimensionUndergroundWorldFogRed=51.0

    # Respawn in the Parasite Dimension [default: false]
    B:respawnInParasiteDimension=false

    # Decide whether the custom structures should spawn in the overworld [default: false]
    B:spawnCustomStructureInOverworld=false

    # Use Dead Water in Parasite Dimension? If false use Water [default: true]
    B:useDeadWater=true

    # (WIP) Use default cloud render [default: true]
    B:useDefaultCloud=true

    # (WIP) Use default sky render [default: true]
    B:useDefaultSky=true
}


##########################################################################################################
# parasite forest
#--------------------------------------------------------------------------------------------------------#
# Parasitic Forest Biome settings
##########################################################################################################

"parasite forest" {
    # Biome weight (Do not work in Parasitic World) [range: 0 ~ 999999, default: 0]
    I:"Biome Parasitic Forest Weight"=0

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeParasiteForestFogBlue=36.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.08]
    S:biomeParasiteForestFogDensity=0.08

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 46.0]
    S:biomeParasiteForestFogGreen=46.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 38.0]
    S:biomeParasiteForestFogRed=38.0

    # Mob list ,SRP mobs are restricted mob cap, can be generated incorrectly in the world.
    #  Ex. "minecraft:zombie;0;100;5;1" Where:  
    #  "minecraft:zombie" is the entity, 
    #  "0" is the type spawn (0 - spawnableCreatureList, 1 - spawnableMonsterList, 2 - spawnableCaveCreatureList, 3 - spawnableWaterCreatureList),
    #  "100" it's a chance to create an entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: [eextra:walking_tree;1;5;1;1], [eextra:parasite_creeper;1;10;3;1]]
    S:biomeParasiteForestMobList <
        eextra:walking_tree;1;5;1;1
        eextra:parasite_creeper;1;10;3;1
     >
}


##########################################################################################################
# parasite river
#--------------------------------------------------------------------------------------------------------#
# Parasitic River Biome settings
##########################################################################################################

"parasite river" {
    # Biome weight (Do not work in Parasitic World, +-) [range: 0 ~ 999999, default: 0]
    I:"Biome Parasitic River Weight"=0

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 40.0]
    S:biomeParasiteRiverFogBlue=40.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.05]
    S:biomeParasiteRiverFogDensity=0.05

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 40.0]
    S:biomeParasiteRiverFogGreen=40.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 38.0]
    S:biomeParasiteRiverFogRed=38.0

    # Mob list ,SRP mobs are restricted mob cap, can be generated incorrectly in the world.
    #  Ex. "minecraft:zombie;0;100;5;1" Where:  
    #  "minecraft:zombie" is the entity, 
    #  "0" is the type spawn (0 - spawnableCreatureList, 1 - spawnableMonsterList, 2 - spawnableCaveCreatureList, 3 - spawnableWaterCreatureList),
    #  "100" it's a chance to create an entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: [eextra:walking_tree;1;5;1;1], [eextra:parasite_creeper;1;10;3;1]]
    S:biomeParasiteRiverMobList <
        eextra:walking_tree;1;5;1;1
        eextra:parasite_creeper;1;10;3;1
     >
}


##########################################################################################################
# wasteland
#--------------------------------------------------------------------------------------------------------#
# Wasteland Biome settings
##########################################################################################################

wasteland {
    # Biome weight (Do not work in Parasitic World) [range: 0 ~ 999999, default: 0]
    I:"Biome Wasteland Weight"=0

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandFogBlue=36.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.06]
    S:biomeWastelandFogDensity=0.06

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandFogGreen=36.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 38.0]
    S:biomeWastelandFogRed=38.0

    # Mob list ,SRP mobs are restricted mob cap, can be generated incorrectly in the world.
    #  Ex. "minecraft:zombie;0;100;5;1" Where:  
    #  "minecraft:zombie" is the entity, 
    #  "0" is the type spawn (0 - spawnableCreatureList, 1 - spawnableMonsterList, 2 - spawnableCaveCreatureList, 3 - spawnableWaterCreatureList),
    #  "100" it's a chance to create an entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: [eextra:walking_tree;1;5;1;1], [eextra:parasite_creeper;1;10;3;1]]
    S:biomeWastelandMobList <
        eextra:walking_tree;1;5;1;1
        eextra:parasite_creeper;1;10;3;1
     >
}


##########################################################################################################
# wasteland city
#--------------------------------------------------------------------------------------------------------#
# Wasteland City Biome settings
##########################################################################################################

"wasteland city" {
    # Biome weight (Do not work in Parasitic World, +-) [range: 0 ~ 999999, default: 0]
    I:"Biome Wasteland City Weight"=0

    # Size Biome, if 0 - do not generate biome [range: 0 ~ 99999, default: 12]
    I:biomeSizeSpawn=12

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandCityFogBlue=36.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.06]
    S:biomeWastelandCityFogDensity=0.06

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandCityFogGreen=36.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 38.0]
    S:biomeWastelandCityFogRed=38.0

    # Mob list ,SRP mobs are restricted mob cap, can be generated incorrectly in the world.
    #  Ex. "minecraft:zombie;0;100;5;1" Where:  
    #  "minecraft:zombie" is the entity, 
    #  "0" is the type spawn (0 - spawnableCreatureList, 1 - spawnableMonsterList, 2 - spawnableCaveCreatureList, 3 - spawnableWaterCreatureList),
    #  "100" it's a chance to create an entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: [eextra:walking_tree;1;5;1;1], [eextra:parasite_creeper;1;10;3;1]]
    S:biomeWastelandCityMobList <
        eextra:walking_tree;1;5;1;1
        eextra:parasite_creeper;1;10;3;1
     >
}


##########################################################################################################
# wasteland cold
#--------------------------------------------------------------------------------------------------------#
# Wasteland Cold Biome settings
##########################################################################################################

"wasteland cold" {
    # Biome weight (Do not work in Parasitic World) [range: 0 ~ 999999, default: 0]
    I:"Biome Wasteland Cold Weight"=0

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 66.0]
    S:biomeWastelandColdFogBlue=66.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.06]
    S:biomeWastelandColdFogDensity=0.06

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandColdFogGreen=36.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 38.0]
    S:biomeWastelandColdFogRed=38.0

    # Mob list ,SRP mobs are restricted mob cap, can be generated incorrectly in the world.
    #  Ex. "minecraft:zombie;0;100;5;1" Where:  
    #  "minecraft:zombie" is the entity, 
    #  "0" is the type spawn (0 - spawnableCreatureList, 1 - spawnableMonsterList, 2 - spawnableCaveCreatureList, 3 - spawnableWaterCreatureList),
    #  "100" it's a chance to create an entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: [eextra:parasite_creeper;1;10;3;1]]
    S:biomeWastelandColdMobList <
        eextra:parasite_creeper;1;10;3;1
     >
}


##########################################################################################################
# wasteland hot
#--------------------------------------------------------------------------------------------------------#
# Wasteland Hot Biome settings
##########################################################################################################

"wasteland hot" {
    # Biome weight (Do not work in Parasitic World) [range: 0 ~ 999999, default: 0]
    I:"Biome Wasteland Hot Weight"=0

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandHotFogBlue=36.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.06]
    S:biomeWastelandHotFogDensity=0.06

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandHotFogGreen=36.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 58.0]
    S:biomeWastelandHotFogRed=58.0

    # Mob list ,SRP mobs are restricted mob cap, can be generated incorrectly in the world.
    #  Ex. "minecraft:zombie;0;100;5;1" Where:  
    #  "minecraft:zombie" is the entity, 
    #  "0" is the type spawn (0 - spawnableCreatureList, 1 - spawnableMonsterList, 2 - spawnableCaveCreatureList, 3 - spawnableWaterCreatureList),
    #  "100" it's a chance to create an entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: [eextra:parasite_creeper;1;10;3;1]]
    S:biomeWastelandHotMobList <
        eextra:parasite_creeper;1;10;3;1
     >
}


##########################################################################################################
# wasteland nether
#--------------------------------------------------------------------------------------------------------#
# Wasteland Nether Biome settings
##########################################################################################################

"wasteland nether" {
    # Biome weight (Do not work in Parasitic World) [range: 0 ~ 999999, default: 0]
    I:"Biome Wasteland Nether Weight"=0

    # Fog RGB Color: Blue [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandNetherFogBlue=36.0

    # Fog density [range: 0.0 ~ 999.0, default: 0.06]
    S:biomeWastelandNetherFogDensity=0.06

    # Fog RGB Color: Green [range: 0.0 ~ 255.0, default: 36.0]
    S:biomeWastelandNetherFogGreen=36.0

    # Fog RGB Color: Red [range: 0.0 ~ 255.0, default: 78.0]
    S:biomeWastelandNetherFogRed=78.0

    # Mob list ,SRP mobs are restricted mob cap, can be generated incorrectly in the world.
    #  Ex. "minecraft:zombie;0;100;5;1" Where:  
    #  "minecraft:zombie" is the entity, 
    #  "0" is the type spawn (0 - spawnableCreatureList, 1 - spawnableMonsterList, 2 - spawnableCaveCreatureList, 3 - spawnableWaterCreatureList),
    #  "100" it's a chance to create an entity, 
    #  "5" is the maximum number of entities, 
    #  "1" is a minimum number of entities  
    #  [default: [eextra:parasite_creeper;1;2;2;1]]
    S:biomeWasteland_NetherMobList <
        eextra:parasite_creeper;1;2;2;1
     >
}


